div.container.home-container {
  margin-top: 20px;
}

div.postHolder {
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0px 1px 4px 0px gray;
}

.forPostInside{
    padding: 0px 4px
}

.hoverable:hover{
  cursor: pointer;
}